<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="#00ffff">
<form action="./add">
<center>
    Enter Fno:<input type="text" name="t1"><br>
    Enter Sno:<input type="text" name="t2"><br>
    <input type="submit" value="add">
</center>
</form>
<form action="./sub">
<center>
    Enter Fno:<input type="text" name="t3"><br>
    Enter Sno:<input type="text" name="t4"><br>
    <input type="submit" value="sub">
</center>
</form>
<form action="./mul">
<center>
    Enter Fno:<input type="text" name="t5"><br>
    Enter Sno:<input type="text" name="t6"><br>
    <input type="submit" value="mul">
</center>
</form>
</center>
<form action="./div">
<center>
    Enter Fno:<input type="text" name="t7"><br>
    Enter Sno:<input type="text" name="t8"><br>
    <input type="submit" value="div">
</center>
</form>
</body>
</html>