<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body bgcolor="red">
<form action="./add" method="post">
    <center>
    {% csrf_token %}
   <tr>
       <td>Enter Fno:<input type="text" name="t1"></td><br>
       <td>Enter Sno:<input type="text" name="t2"></td><br>
       <td><input type="submit" value="add"></td>
   </tr>
    </center>
</form>
<form action="./sub" method="post">
    <center>
        {% csrf_token %}
      <tr>
          <td>Enter Fno:<input type="text" name="t3"></td><br>
          <td>Enter Sno:<input type="text" name="t4"></td><br>
          <td><input type="submit" value="sub"></td>
      </tr>
    </center>
</form>
<<form action=".mul" method="post">
    <center>
        {% csrf_token %}
        <tr>
            <td>Enter Fno:<input type="text" name="t5"></td><br>
            <td>Enter Sno:<input type="text" name="t6"></td><br>
            <td><input type="submit" value="mul"></td>
        </tr>
    </center>
</form>
</body>
</html>